.cart-calc {
    display: flex;
    justify-content: space-around;
}

.cart-body {
    padding: 10px 0;
    border-radius: 15px;
    border: 1px solid gray;
    margin-top: 10px;
    box-shadow: 5px 5px 5px gray;
}

.cart-header {
    text-align: center;
}